.instagram-page {
    margin: 64px 240px;
    text-align: center;
}

.instagram-page p {
    font-family: Nanum Myeongjo;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #323842FF;
}

.instagram-photo {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.instagram-posts {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 36px;
    gap: 8px;
}

.instagram-photo:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}