.product-card {
    display: grid;
    width: 276px;
    height: 464px;
    background: #FFFFFFFF;
    border-radius: 8px;
    position: relative;
}

.product-card:hover {
    cursor: pointer;
    box-shadow: 1px 1px 12px rgba(69, 157, 122, 0.404);
}

.product-card h3 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 800;
    color: #171A1FFF
}

.product-card p {
    font-family: Inter;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #323842FF;
}

.product-prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.product-prices div {
    display: flex;
    align-items: center;
}

.product-prices div p:nth-child(1) {
    font-family: Inter;
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    color: #323842FF;
    margin-right: 6px;
}

.product-prices div p:nth-child(2) {
    font-family: Inter;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #6E7787FF;
}

.product-cart button {
    border: 1px solid #459D7AFF;
    border-radius: 50%;
    height: 44px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFFFF;
    opacity: 1;
    border-radius: 22px;
    border-width: 1px;
    border-color: #459D7AFF;
    border-style: solid;
    gap: 0px;
}

.product-cart button:hover {
    cursor: pointer;
    color: #3D8C6DFF;
}

.product-cart button:hover:active {
    color: #367C60FF;
    background: #FFFFFFFF;
}

.product-cart button:disabled {
  opacity: 0.4;
}

.status {
    position: absolute;
    width: 78px;
    height: 28px;
    font-family: Inter;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    opacity: 1;
    margin: 12px;
    background: #FFC970FF;
    border-radius: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
